@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Lora:ital@1&family=Quicksand&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  margin-bottom: 150px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(114, 174, 207);
  text-decoration: solid;
  border-radius: 100px;
  font-size: xx-large;
  font-family: 'Lora', serif;
  color: rgb(0, 0, 0);
}
body{
  background-color: rgba(0, 242, 255, 0.427);
}
.App-logo {
  height: 2vmin;
  pointer-events: none;
}
button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 300px;
  box-shadow: 0 0 2px 2px #ffffff;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 6px;
  text-decoration: none;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #00aaff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}